<template>
    <v-list
        density="compact"
        nav
        :items="items"
    >
        <template #item="{props}">
            <nuxt-link :to="props.href ?? ''">
                <v-list-item v-bind="props"></v-list-item>
            </nuxt-link>
        </template>
    </v-list>
</template>

<script setup>
    let items = reactive([
        {
            title: "Главная",
            value: "1",
            props: {
                prependIcon: "mdi-home"
            },
            children: [
                {
                    title: "asd",
                    value:"qwe",
                    children: [
                        {
                            title: "asssss",
                            value: "sdfsdf",
                            props: {
                                href: "/fffff"
                            }
                        }
                    ]
                }
            ]

        },
        {
            title: "Главная",
            value: "2"
        },
        {
            title: "Главная",
            value: "3"
        },
        {
            title: "Главная",
            value: "4"
        },
    ])

</script>

<style scoped>

</style>