<template>
    <v-app-bar color="primary">
        <template #prepend>
            <v-app-bar-nav-icon @click="isOpenDrawer = !isOpenDrawer"></v-app-bar-nav-icon>
        </template>
        <v-app-bar-title>ФИСТ</v-app-bar-title>
        <template #append>
            <v-switch @change="toggleTheme"></v-switch>
            <v-btn icon="mdi-dots-vertical"></v-btn>
        </template>
    </v-app-bar>
    <v-navigation-drawer
        v-model="isOpenDrawer"
        class="drawer__width"
        temporary
    >
        <ard-nav-menu></ard-nav-menu>
    </v-navigation-drawer>
</template>

<script setup>
import {useTheme} from 'vuetify'
import ArdNavMenu from "@/components/ui/ard-nav-menu.vue";

const theme = useTheme()

let isOpenDrawer = ref(false);

function toggleTheme() {
    theme.global.name.value = theme.global.current.value.dark ? 'light' : 'dark'
}
</script>

<style scoped>
.drawer__width {
    width: 400px !important;
}

@media screen and (max-width: 500px) {
    .drawer__width {
        width: 100% !important;
    }

}
</style>
