.create__lesson_title {
    font-size: 3rem;
}

* {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.z-index-10 {
    z-index: 10;
}

.swal2-popup {
    font-family: sans-serif !important;
}

.z-index-1 {
    z-index: 1;
}

div .container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2rem;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

//courses section
$shadow-text: 1px 1px 2px rgba(0, 0, 0, 80%);
;

.courses__preview {
    background: url(../images/courses/Preview.png) center center/cover no-repeat;
    height: 452px;
}

.courses__preview_wpapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 7rem;
    margin-top: -5px;
}

.courses__preview_gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.507));
}

.curses__preview_title {
    text-align: center;
    display: inline-block;
    color: #ffffff;
    font-size: 5rem;
    text-shadow: $shadow-text;
}

.curses__preview_description {
    margin-top: 0.7rem;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: $shadow-text;
}

.courses__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.courses__body {
    align-self: center;
}

.container {
    min-height: auto !important;
}

@media screen and (max-width: 560px) {
    .editr--toolbar {
        display: flex !important;
        flex-wrap: wrap;
        height: 80px !important;

        .vw-separator {
            height: 50% !important;
        }
    }
}

a {
    text-decoration: none;
}

.activeLink {
    color: #1976d2 !important;
}

.curp {
    cursor: pointer !important;
}

.h-100 {
    height: 100% !important;
}

.unactive {
    pointer-events: none !important;
    cursor: default !important;
}

.labs_item {
    width: 49%;

    @media screen and (max-width: 600px) {
        width: 100% !important;
    }
}

.labs_img {
    height: 500px;

    @media screen and (max-width: 600px) {
        height: 300px !important;
    }
}

.mt--2 {
    margin-top: -6px;
}

.scale-07 .v-breadcrumbs__item {
    font-size: .9em !important;
}

.north_head {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 37%;

    @media screen and (max-width: 600px) {
        width: 97% !important;
    }
}

.v-messages__message {
    line-height: normal !important;
    font-size: 12px !important
}

.flex-xs-column {
    @media screen and (max-width: 600px) {
        flex-direction: column !important
    }
}

.flex-xs-column-reverse {
    @media screen and (max-width: 600px) {
        flex-direction: column-reverse !important
    }
}

.border-2 {
    border-radius: 4px !important;
}

.border-3 {
    border-radius: 6px !important;
}

.border-4 {
    border-radius: 8px !important;
}

.d-xs {
    width: 500px !important;
    max-width: 500px !important;
}

.d-sm {
    width: 650px !important;
}

.d-md {
    width: 950px !important;
}

.d-lg {
    width: 1280px !important;
}

@media screen and (max-width: 501px) {
    .d-xs {
        width: 100% !important;
    }

    .d-sm {
        width: 100% !important;
    }

    .d-md {
        width: 100% !important;
    }

    .d-lg {
        width: 100% !important;
    }
}

@media screen and (max-width: 651px) {
    .d-xs {
        width: 500px !important;
    }

    .d-sm {
        width: 100% !important;
    }

    .d-md {
        width: 100% !important;
    }

    .d-lg {
        width: 100% !important;
    }
}

@media screen and (max-width: 951px) {
    .d-xs {
        width: 500px !important;
    }

    .d-sm {
        width: 650px !important;
    }

    .d-md {
        width: 100% !important;
    }

    .d-lg {
        width: 100% !important;
    }
}

@media screen and (max-width: 1281px) {
    .d-xs {
        width: 500px !important;
    }

    .d-sm {
        width: 650px !important;
    }

    .d-md {
        width: 950px !important;
    }

    .d-lg {
        width: 100% !important;
    }
}

.container {
    min-width: auto;
}
