<template>
    <u-header></u-header>
    <v-main class="w-100">
        <slot></slot>
    </v-main>
</template>

<script setup>
    import UHeader from "@/components/global/user/header/u-header";
</script>

<style>
</style>
